/* Variabler */
/* Färger */
$header-footer-color: #2A7373;
$heading-color: #3D5858;
$admin-btn-color: #517788;
$main-color: #FAFAFA;
$about-btn-color: #3374BD;
$services-btn-color: #3271B8;
$contact-btn-color:#A34E1C;
$reset-btn-color: #BD3E33;

/* Text */
$font: 'Segoe UI', sans-serif;
$font-size-h1-inaccessible: 19px;
$font-size-h2-inaccessible: 15px;
$font-size-h3-inaccessible: 12px;
$font-size-main-inaccessible: 8px;
$font-size-date-inaccessible: 8px;
$line-height-inaccessible: 8px;

/* Mixins */
/* Inmatningsfält */
@mixin input {
    font-family: inherit;
    font-size: inherit;
    height: 35px;
    padding-left: 10px;
}

/* Knappar */
@mixin button {
    font-family: inherit;
    font-size: inherit;
    height: 35px;
    font-weight: bold;
}

/* Navigering */

