/* Layout för det icke-responsiva läget. Endast desktoplayouten visas då */
body {
    font-family: $font;
    font-size: $font-size-main-accessible;
}

#page-wrapper {
    display: block;
    position: relative;
    min-height: 100vh;
    padding-bottom: 225px;
    padding-bottom: 160px;
}

header {
    width: 100%;
    position: fixed;
    height: 125px;
    background-color: $header-footer-color;
    padding: 10px;
    overflow: auto;
    z-index: 1;
}

#header-mobile {
    display: none;
}

#header-wrapper {
    width: 1300px;
    margin: 0 auto;
    overflow: auto;
}

#header-left {
    width: 170px;
    height: 105px;
    float: left;
}

#header-right {
    width: 75%;
    height: 105px;
    float: right;
}

#icon-wrapper {
    display: none;
}

#skip-to-content-wrapper {
    position: absolute;
    width: 100%;
    top: -10000px;
    left: 0;
    background-color: $header-footer-color;
    padding: 5px 0;
    text-align: center;
}

#skip-to-content {
    font-size: $font-size-main-accessible;
    font-weight: bold;
    color: white;
}

#logo {
    display: block;
}

#logo-mobile {
    display: none;
}

#search-mobile {
    display: none;
}

#search-wrapper-desktop {
    overflow: auto;
    padding: 10px 0;
    width: 100%;

    form {
        label {
            position: absolute;
            top: -10000px;
        }
    }
}

#search {
    form {
        label {
            position: absolute;
            top: -10000px;
        }
    }
}

#nav-language-wrapper-desktop {
    overflow: auto;
}

#search-form-desktop {
    width: 300px;
    float: right;
}

.bar {
    height: 5px;
    background-color: white;
}

#bar1 {
    margin-bottom: 6px;
}

#bar2 {
    margin: 6px 0;
}

#bar3 {
    margin-top: 6px;
}

.search-bar {
    @include input;
    border: 2px solid $header-footer-color;
    width: 180px;
    margin-right: 5px; 
}

.search-btn {
    @include button;
    width: 110px;
    color: $heading-color;
    background-color: white;
    border: 2px solid $header-footer-color;
    margin-left: 5px;
}

.search-btn:hover {
    cursor: pointer;
}

#language-switcher {
    @include input;
    width: 100px;
    background-color: white;
    border: 2px solid $header-footer-color;
    margin-top: 10px;
    float: right;
    margin-left: 0;
}

#language-switcher:focus {
    border: 3px solid black;
}

#main-nav-mobile {
    display: none;
}

#main-nav-desktop {
    width: 68.75%;
    padding-top: 10px;
    float: left;

    ul {
        list-style-type: none;

        li {
            display: inline-block;
            padding: 5px 1.5%;
        }
    }
}

.navlink {
    color: white;
    text-decoration: none;
}

.navlink:hover {
    cursor: pointer;
    text-decoration: underline;
}

svg:hover {
    cursor: pointer;
}

main {
    margin: 0 auto;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $main-color;
    overflow: auto;
    width: 1300px;
    height: 1080px;
    padding-top: 125px;
}

.breadcrumbs {
    width: 70%;
    float: left;
    padding: 10px 0;

    ul {
        list-style-type: none;

        li {
            display: inline-block;

            a {
                color: black;
                padding: 0 5px;
            }
        }
    }
}

.inactive-breadcrumb {
    text-decoration: none;
}

h1, .h2-admin {
    font-size: $font-size-h1-accessible;
    margin-top: 5px;
    color: $heading-color;
    width: 600px;
    margin: 5px auto;
}

.h2-search {
    font-size: $font-size-h3-accessible;
}

.h2-error {
    font-size: $font-size-h3-accessible;
    font-weight: bold;
    color: $heading-color;
    width: 600px;
    margin: 5px auto;
}

#h1-home {
    margin-left: 0;
}

#services {
    h1 {
        max-width: 1280px;
    }
}

h2 {
    font-size: $font-size-h2-accessible;
    color: $heading-color;
    margin-bottom: 5px;
}

.h2-home {
    font-size: $font-size-h1-accessible;
}

h3 {
    font-size: $font-size-h3-accessible;
    margin-bottom: 5px;
    color: $heading-color;
}

h4 {
    font-size: $font-size-main-accessible;
    color: $heading-color;
    margin-bottom: 5px;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

caption {
    font-size: $font-size-h3-accessible;
    font-weight: bold;
    margin-bottom: 5px;
    color: $heading-color;
    text-align: left;
}

th {
    width: 50%;
    font-size: $font-size-main-accessible;
    font-weight: bold;
    color: $heading-color;
    text-align: left;
}

td {
    width: 50%;
}

.edit-users, .delete-users {
    margin-top: 5px;

    a {
        color: $heading-color;
        font-weight: bold;
    }
}

.password {
    font-weight: bold;
}

article {
    margin-bottom: 20px;

    div {
        overflow: auto;
    }
}

.price {
    color: $heading-color;
    font-weight: bold;
}

.date {
    font-size: 1em;
    font-style: italic;
    margin-bottom: 5px;
}

.author, #author {
    color: $heading-color;
    font-weight: bold;
    text-align: right;
}

form {
    width: 600px;
    margin: 0 auto;
    overflow-x: scroll;
    overflow: auto;
}

.form-left {
    margin-bottom: 10px;
    width: 50%;
    float: left;
    padding-right: 5px;
}

.form-right {
    margin-bottom: 10px;
    width: 50%;
    float: right;
    padding-left: 5px;
}

.row {
    overflow: auto;
}

.row-services {
    width: 100%;
    overflow: auto;
    display: table;
}

.test, .solution, .course {
    width: 600px;
    float: left;
    margin: 0 1.5%;
}

label, #consent-heading {
    font-size: $font-size-h3-accessible;
    color: $heading-color;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    background-color: white;
}

textarea {
    height: 300px;
}

#stop-btn {
    width: 600px;
    height: 35px;
    color: white;
    background-color: $reset-btn-color;
    border: 1px solid $reset-btn-color;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    display: none;
}

#stop-btn:focus {
    border: 3px solid black;
}

.error {
    width: 600px;
    margin: 0 auto;
    display: none;
    color: $heading-color;
    font-size: $font-size-main-accessible;
    font-weight: bold;
    margin-top: 5px;
}

.error-search {
    width: 350px;
    margin: 0 auto;
    display: none;
    color: white;
    font-size: $font-size-main-accessible;
    font-weight: bold;
}

.error-services {
    width: 600px;
    display: none;
    color: $heading-color;
    font-size: $font-size-main-accessible;
    font-weight: bold;
    margin-top: 5px;
}

.confirm {
    width: 600px;
    margin: 0 auto;
    display: none;
    color: $heading-color;
    font-size: $font-size-main-accessible;
    font-weight: bold;
    margin-top: 5px;
}

.number-of-results {
    width: 600px;
    margin: 0 auto;
    display: none;
    color: $heading-color;
    font-size: $font-size-main-accessible;
    font-weight: bold;
    margin-top: 5px;
}

.respond {
    text-align: right;
}

.respond-link {
    width: 600px;
    margin: 0 auto;
    color: $heading-color;
    font-size: $font-size-main-accessible;
    font-weight: bold;
    margin-top: 5px;
}

button:hover {
    cursor: pointer;
}

button {
    padding-bottom: 2px;
}

#login-text {
    margin-top: 0;
    margin-bottom: 5px;
}

p {
    line-height: 1.875em;
}

.h1-about {
    width: 1000px;
}

#about {
    width: 1000px;
    margin: 0 auto;
}

#about-iws {
    width: 700px;
}

#about-employees-wrapper {
    display: flex;

    #rasmus {
        width: 30%;
        order: 1;
        margin-right: 3%;
    }

    #joel {
        width: 30%;
        order: 2;
        margin: 0 2%;
    }

    #marco {
        width: 30%;
        order: 3;
        margin-left: 3%;
    }
}

#about-btn {
    width: 345px;
    height: 35px;
    background-color: $about-btn-color;
    border: 1px solid $about-btn-color;
    color: white;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 20px;
}

#about-btn:focus {
    border: 3px solid black;
}

#contact-btn {
    width: 345px;
    height: 35px;
    background-color: $contact-btn-color;
    border: 1px solid $contact-btn-color;
    color: white;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 20px;
}

#contact-btn:focus {
    border: 3px solid black;
}

#services-btn {
    width: 600px;
    height: 35px;
    background-color: $services-btn-color;
    border: 1px solid $services-btn-color;
    color: white;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
}

#services-btn:focus {
    border: 3px solid black;
}

#posts-btn {
    width: 100%;
    height: 35px;
    background-color: $services-btn-color;
    border: 1px solid $services-btn-color;
    color: white;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
}

#posts-btn:focus {
    border: 3px solid black;
}

.find-out-more {
    color: $heading-color;
    font-weight: bold;
}

.home-right {
    padding-top: 50px;
    width: 380px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    width: 100%;
    height: 160px;
    background-color: $header-footer-color;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 10px;
    overflow: auto;
}

.home-left {
    margin: 0 auto;
    padding-top: 50px;
    width: 920px;
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#home-welcome {
    width: 600px;
}

#home-services {
    padding-top: 50px;
}

#home-services-wrapper {
    display: flex;
}

.tests {
    width: 415px;
    margin-right: 5%;
    order: 1;
}

.solutions {
    width: 415px;
    margin-left: 5%;
    order: 2;
}

.courses {
    width: 415px;
}

#footer-wrapper {
    width: 1300px;
    margin: 0 auto;
    overflow: auto;
}

#contact-information, #email-link {
    color: white;
}

#privacy-policy-link, #copyright {
    color: white;
    font-weight: bold;
}

#accessibility, #blog, #contact {
    width: 600px;
    margin: 0 auto;
}

#subpage {
    width: 1050px;
    overflow: auto;
}

#subpage-content {
    margin: 0 auto;
    margin-top: 30px;
    width: 600px;
}

#subnav {
    width: 400px;
    margin: 0 auto;
    margin-top: 25px;
    float: left;
    
    ul {
        list-style-type: none;
    }  

    li {
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid $header-footer-color;
    }
}

#subnav-first-item {
    padding-left: 10px;

    a {
        color: $heading-color;
        font-weight: bold;
        text-decoration: none;
    }
}

.subnav-link {
    color: $heading-color;
    font-weight: bold;
    padding-left: 30px;
    text-decoration: none;
}

#open-subpage {
    background-color: $header-footer-color;
}

.open-subpage-link {
    color: white;
}

#subpage-right {
    width: 57%;
    float: right;
}

.explanation {
    display: none;
}

#consent {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    outline: 2px solid $heading-color;
}

#consent:focus {
    outline: 3px solid black;
}

#consent-label {
    display: inline;
    font-size: $font-size-main-accessible;
    font-weight: normal;
    color: black;
    margin-left: 5px;
    margin-top: 15px;

    a, b {
        color: $heading-color;
        font-weight: bold;
    }
}

.focus:focus {
    border: 3px solid black;
}

.body-text {
    margin-bottom: 20px;
}

.h3-accessibility {
    margin-top: 20px;
}

#comment-form {
    width: 600px;
    margin: 0 auto;
}

#comment-section {
    margin-top: 50px;
}

#results {
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}

.email-about {
    color: black;
}

.test, .solution, .course {
    display: table-cell;
}

img {
    width: 100%;
    height: auto;
}

#footer-inner-wrap {
    width: 513px;
    margin: 0 auto;
    overflow: auto;
}

#privacy-policy {
    width: 40%;
    float: left;
}

#copyright {
    width: 60%;
    float: right;
}

#scroll-to-top-btn {
    display: block;
    width: 45px;
    float: right;
}

#post-name-input {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    width: 100%;
    height: 35px;
    font-family: inherit;
    font-size: inherit;
    border: 2px solid $heading-color;
    padding-left: 10px;
}



